html, body, #root {
  background: #fb7299;
  overflow-x: hidden;
  height: 100%;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_wrapper{
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}